<%include ./partials/header.ejs%>

<body id="body">
<%include ./partials/navbar.ejs%>
     <div class = "container">
          <img id="event-logo" src="/images/logo-wide.png">
        <div class="card card-body form-group">
            <h2 style="text-align:center;"><b>Create New Event Form</b></h2><br>
            <div class="row">
                <div class="col-md-9">
                    <input type="text" placeholder="Title Of The Event" id="name" class="form-control mb-4">
                    
                    <textarea class="form-control mb-4" placeholder="Description Of The Event" id="description" rows="5"></textarea>                        
                    
                    <textarea class="form-control mb-4" placeholder="Location Of The Event" id="location" rows="5"></textarea>
                    
                    <input type="text" id="image" class="form-control mb-4" placeholder="Image URL">
                    
                    <input type="text" id="datepickerstart" class="form-control mb-4" placeholder="Event Start Date">
                    
                    <input type="text" id="starttime" class="form-control mb-4" placeholder="Event Start Time">
                    
                    <input type="text" id="datepickerend" class="form-control mb-4" placeholder="Event Ending Date">
                    
                    <input type="text" id="endtime" class="form-control mb-4" placeholder="Event Ending Time">
                </div>
                
                    
                <div class="vl" style="border-left: 1px solid;height: 50vh; background-color: grey"></div>
                <div class="col-md-2">
                    <span style="color: red">*</span> The World takes the events too seriously. Make sure to be sure before creating an event.
                </div>
            </div>
            <button id="creatEvent-btn" class="btn btn-dark"><strong>Post Event</strong></button>  
        </div>
    </div>
    
     <!--Scripts-->
    <script src="/js/jquery.js"></script>
    <script>
        var userinfo=JSON.parse(localStorage.getItem("userinfo"));
        var event = {};
        $('#creatEvent-btn').click(function(event){
            event = {
                name: $('#name').val(),
                description: $('#description').val(),
                location: $('#location').val(),
                image: $('#image').val(),
                startdate: $('#datepickerstart').val(),
                enddate: $('#datepickerend').val(),
                organization: userinfo.id,
                starttime: $('#starttime').val(),
                endtime: $('#endtime').val()
            }
            
            $.ajax({
                method:"POST",
                url:"/event/save",
                data: event
            }).done(function(response){
                window.location.replace("/event/"+response.event);
            }).fail(function(response){
                console.log(response.responseText);
            });
        })
    </script>

<%include ./partials/footer.ejs%>