<%include ./partials/header.ejs%>
<body id="body">
    <%include ./partials/navbar.ejs%> 
    
    <div class="container text-center" style="margin-top: 20%;">
        <strong><p>V- HUB (Volunteer Hub) is a portal for organziation and volunteers, where they meet hand in hand. Organziations typially
rely on groups (facebook groups) which is in numbers and have to face the cost of security and trust.
Likewise, volunteers face even more trouble searching for volunteering events and trusted organizations who host them.
V-HUB is a small step towards solving this real-world problem, creating a "hang-out" for organizations and volunteers
where they can meet, and discuss; verify and clarify. Most importantly, have fun for helping humanity, for 
"Humanity is an addiction"</p></strong>
<button class="btn btn-dark"></button>    
<%include ./partials/footer.ejs%>