<%include ./partials/header.ejs%>
<body id="body">
    <%include ./partials/navbar.ejs%>
        <div class = "container"align="center">
          <img id="org-logo" src="/images/logo-wide.png">
            <div class="card card-body form-group">
                
                
               <div id="datepicker" align="center">
                 <div class="input-group">
                      <input class="form-control" type="text" placeholder="Search Organization by Name" id="" readonly />
                      <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" id="search"><i class="fas fa-search"></i></button>
                      </span>
                  </div>
                </div>
                <div class="row">
                <div class="col-lg-4 col-sm-6">
                  <div class="thumbnail">
                    <a href="https://www.wikipedia.org/">
                    <img src="http://i.imgur.com/qK42fUu.jpg" width="350" height="250"></a> 
                    <hr>
                    <h4 style="text-align:center;"><font size="5">Loren Epsum</font></h4>
                  </div>
                </div>
                
                </div>
            </div>
        </div>
    
<%include ./partials/footer.ejs%>    