<%include ./partials/header.ejs%>
<body id="body">
        <div class = "container">
          <img id="vol-logo" src="/images/logo-wide.png">
            <div class="card card-body form-group">
                 <h2 style="text-align:center;"><b>Search A Volunteer</b></h2><br>
                <div class="row">
                <div class="col-lg-3 col-sm-6">
                  <div class="thumbnail">
                    <a href="https://www.wikipedia.org/">
                    <img src="http://i.imgur.com/qK42fUu.jpg"></a> 
                    <hr>
                    <p><font size="5">Loren Epsum</font></p>
                    <p><font size="4">Rating</font></p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="thumbnail">
                    <a href="https://www.wikipedia.org/">
                    <img src="https://images.unsplash.com/photo-1435771112039-1e5b2bcad966?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
                    <hr>
                    <p><font size="5">Loren Epsum</font></p>
                    <p><font size="4">Rating</font></p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="thumbnail">
                    <a href="https://www.wikipedia.org/">
                    <img src="https://images.unsplash.com/photo-1442406964439-e46ab8eff7c4?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
                    <hr>
                    <p><font size="5">Loren Epsum</font></p>
                    <p><font size="4">Rating</font></p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="thumbnail">
                    <a href="https://www.wikipedia.org/">
                    <img src="https://images.unsplash.com/photo-1439524970634-649c37a69e5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1450&h=825&fit=crop&s=bfda9916c885869b43b70738693428d9"></a>
                    <hr>
                    <p><font size="5">Loren Epsum</font></p>
                    <p><font size="4">Rating</font></p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="thumbnail">
                    <a href="https://www.wikipedia.org/">
                    <img src="http://i.imgur.com/qK42fUu.jpg"></a>
                    <hr>
                    <p><font size="5">Loren Epsum</font></p>
                    <p><font size="4">Rating</font></p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="thumbnail">
                    <a href="https://www.wikipedia.org/">
                    <img src="https://images.unsplash.com/photo-1435771112039-1e5b2bcad966?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
                    <hr>
                    <p><font size="5">Loren Epsum</font></p>
                    <p><font size="4">Rating</font></p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="thumbnail">
                    <a href="https://www.wikipedia.org/">
                    <img src="http://i.imgur.com/qK42fUu.jpg"></a>
                    <hr>
                    <p><font size="5">Loren Epsum</font></p>
                    <p><font size="4">Rating</font></p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="thumbnail">
                    <a href="https://www.wikipedia.org/">
                    <img src="https://images.unsplash.com/photo-1435771112039-1e5b2bcad966?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450"></a>
                    <hr>
                    <p><font size="5">Loren Epsum</font></p>
                    <p><font size="4">Rating</font></p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
                </div>
            </div>
        </div>
    
<%include ./partials/footer.ejs%>    